.product {
  display: flex;
  flex-direction: row;
}
.product input {
  margin: 4px;
  width: 15vw;
  border-radius: 5px;
}

.edit {
  margin: 5px;
}

.delete {
  margin: 5px;
}

.productImg {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}
